html {
    box-sizing: border-box;
  }
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    text-align: center;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
  }
  
  .content,
  .pravidla-hlavni  {
    background-color: #283e50;
    margin: 40px auto;
    width: 400px;
    border-radius: 6px 6px 0px 0px;
  }
  
  .pravidla-hlavni {
    width: 900px;
  }
  
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin: 15px;
  }
  
  .image img {
    width: 400px;
    border-radius: 7px 7px 0px 0px;
  }
  
  .text {
    margin: 0px 20px 30px;
    font-size: 17px;
  }
  
.buttons a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 18px;
  }
  
  .button1 {
    background-color: #1fcca4;
  }
  
  .button1:hover {
    background-color: #1cbb96;
  }
  
  .button2 {
    background-color: #0197f6;
    border-top: #283e50 solid 1px;
  }
  
  .button2:hover {
    background-color: #0090e9;
  }
 
.popis {
  padding: 0rem 3rem 3rem 3rem;
  text-align: left;
}

.circle,
.cross {
  filter: invert(100%);
}

.obr-popis {
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  margin-bottom: 3rem;
}

.obr-popis_item {
  max-width: 40%;
}

.obr-popis_item img {
  max-width: 100%;
}


@media (max-width: 540px) {
  .content,
  .pravidla-hlavni {
    max-width: 80%;
  }

  .obr-popis_item {
    max-width: 100%;
  }
  
  .obr-popis {
    justify-content: center;
  }
  
}

@media (max-width: 960px) {
  .pravidla-hlavni {
    max-width: 80%;
  }

  .obr-popis_item {
    max-width: 70%;
  }
 
  .obr-popis {
    justify-content: center;
  }
}


.hra {
  max-width: 80vmin;
  margin: auto;
}

.hra-nadpis {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 5px 0 5px;
}
